<div class="home-container">
  <div class="home-header">
    <h1>MC Manager</h1>
  </div>
  <div class="nav-buttons">
    <a routerLink="ledger-entry">
      <p-button label="Ledger Entry" icon="pi pi-book"></p-button>
    </a>
    <a routerLink="rate-card">
      <p-button label="Rate Card" icon="pi pi-calculator"></p-button>
    </a>
    <a routerLink="customers">
      <p-button label="Customers" icon="pi pi-users"></p-button>
    </a>
    <p-button label="Logout" icon="pi pi-sign-out" [style]="{background:'#c62828', 'margin-left':'2rem'}" (onClick)="logout()"></p-button>
  </div>
</div>
