<div class="rate-card-container">
  <div class="page-header">
    <a routerLink="/" class="home-button">
      <p-button icon="pi pi-home" severity="secondary" [outlined]="true"></p-button>
    </a>
    <h2>Rate Card</h2>
  </div>

  <div class="table-wrapper">
    <p-table 
      [value]="rateItems()" 
      styleClass="p-datatable-gridlines" 
      [tableStyle]="{'min-width': '50rem'}"
    >
      <ng-template pTemplate="header">
        <tr>
          <th>Effective Date</th>
          <th>Pay Rate</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-item>
        <tr>
          <td>{{ formatDate(item.effectiveDate) }}</td>
          <td>{{ item.payRate | currency }}</td>
        </tr>
      </ng-template>
      <ng-template pTemplate="emptymessage">
        <tr>
          <td colspan="2" style="text-align: center;">No rate data available</td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</div>
